.bg-orus-gradient {
  background: linear-gradient(174.24deg, #4B427B 3.23%, #1C0732 87.7%);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}


.bg-orus-gradient-2 {
  background: linear-gradient(174.24deg,  #1C0732 3.23%, #4B427B 87.7%);
}

.categorias-fade {
 mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%);
}


